{% extends 'base.html' %}

{% block content %}

    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">VCS</th>
                <th scope="col">Repository</th>
                <th scope="col">Branch</th>
                <th scope="col">Deployed By</th>
                <th scope="col">Update Time</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          {% for instance in instances %}
            <tr>
                <td>
                    {% if instance.social == 'github' %}
                        <img src="/static/github.png" alt="GitHub" width="20" height="20">
                    {% elif instance.social == 'gitlab' %}
                        <img src="/static/gitlab.svg" alt="GitLab" width="20" height="20">
                    {% elif instance.social == 'git.iris' %}
                        <img src="/static/iris_git.jpg", alt = "git.iris", width="40", height="15">
                    {% else %}
                        {{ instance.social }}
                    {% endif %}
                </td>
                <td>
			{% if instance.social == "git.iris" %}
			<a href="http://staging-{{ instance.branch | lower }}.iris.nitk.ac.in">{{ instance.organisation }}/{{ instance.repo_name }}</a>
			{% else %}
            <a href="http://staging-{{ instance.organisation | lower }}-{{ instance.repo_name | lower }}-{{ instance.branch | lower }}.iris.nitk.ac.in">{{ instance.organisation }}/{{ instance.repo_name }}</a>
			{% endif %}		
		</td>
                <td>{{ instance.branch }}</td>
                <td>{{ instance.owner }}</td>
                <td>{{ instance.update_time }}</td>
                <td>
                    {% if instance.status == "PENDING" %}
                        <span class="badge badge-secondary">Pending</span>
                    {% elif instance.status == "SUCCESS" %}
                        <span class="badge badge-success">Success</span>
                    {% elif instance.status == "ERROR" %}
                        <span class="badge badge-danger">Error</span>
                    {% elif instance.status == "DEPLOYING" %}
                        <span class="badge badge-warning">Deploying</span>
                    {% elif instance.status == "STOPPED" %}
                        <span class="badge badge-danger">Stopped</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <!-- TODO : add logs page -->
                    <form method="post" action="{% url 'template_stop' instance.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm mx-1">Stop</button>
                    </form>  
                    <form method="post" action="{% url 'template_healthcheck' instance.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary btn-sm mx-1"><i class="fa fa-refresh" style="font-size:18px;"></i></button>
                    </form>              
                    </div>                  
                </td>
            </tr>
          {% endfor %}
        </tbody>
    
    </table>  

      
{% endblock %}
