# Django #
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
venv
.env
*.py[cod] 
*$py.class

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Virtual Environment files #
env/

# Pycharm files #
.idea/

# tests file 
local_tests.py 

#nginx scripts

scripts/
