celery==5.2.7
crispy-bootstrap5==0.7
Django==4.1.4
django-allauth==0.51.0
django-allauth-ui==0.1.0
django-celery-results==2.4.0
django-crispy-forms==1.14.0
django-widget-tweaks==1.4.12
PyGithub==1.57
python-gitlab==3.12.0
redis==4.4.0
requests==2.28.1
python-dotenv

