<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
    <title>Staging Server</title>
    <style>
      .footer {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-align: center;
        padding: 20px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12"> 
          <h1 class="mt-2">
            <a href="{% url 'iris_dashboard' %}">Staging Server</a>
            {% if user.is_authenticated %}
              <a class="btn btn-dark float-right mr-2" href="/accounts/logout">Logout</a>
            {% else %}
              <a class="btn btn-dark float-right mr-2" href="/accounts/login">Login</a>
            {% endif %}
            <a class="btn btn-dark float-right mr-2" href="/template">Dashboard</a>
            <a class="btn btn-dark float-right mr-2" href="/template/new">Add Template</a>
            <a class="btn btn-dark float-right mr-2" href="/template/list">Templates</a>
            <a class="btn btn-dark float-right mr-2" href="{% url 'iris_dashboard' %}">IRIS</a>
          </h1> 
    
          
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
          <hr>
          <!-- footer -->
          <footer class="footer">
            <p>Staging Server, IRIS</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
