{% extends 'base.html' %} 

{% block title %}
IRIS NITK
{% endblock %} 

{% block content %}

<link rel="stylesheet" href="/static/xterm/xterm.css" />

  <div class="card mb-2">
    <div class="card-header">
      <h3>Container Console</h3>
    </div>
    <div class="card-body">
      <p><strong>Organization:</strong> {{ instance.organisation }}</p>
      <p><strong>Repo Name:</strong> {{ instance.repo_name }}</p>
      <p><strong>Branch:</strong> {{ instance.branch }}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div id="terminal-container"></div>
    </div>
  </div>


  <script src="/static/xterm/xterm.js"></script>
  <script src="/static/xterm/xterm-addon-attach.js"></script>
  <script src="/static/xterm/xterm-addon-fit.js"></script>
  <script src="/static/xterm/xterm-addon-search.js"></script>

  <script type="text/javascript">
    var term = new Terminal({
        cursorBlink: true,
        convertEol: true  // This option makes sure the terminal handles carriage returns and newlines properly
    });
    // Attach the socket to term
    const container = document.getElementById('terminal-container');
    term.open(container);
    let protocol = window.location.protocol === 'https:' ? 'wss' : 'ws';
    const socket = new WebSocket( protocol + "://" + window.location.host +'/websocket/console/{{ instance.pk }}/');

    const attachAddon = new AttachAddon.AttachAddon(socket);
    const fitAddon = new FitAddon.FitAddon();
    const searchAddon = new SearchAddon.SearchAddon();

    // Socket handling
    socket.onopen = (ev) => { 
      term.loadAddon(attachAddon);
      term.loadAddon(fitAddon);
      term.loadAddon(searchAddon);
      fitAddon.fit()
      console.log(`size: ${term.cols} columns, ${term.rows} rows`)
     };
    socket.onclose = function(ev){
        console.log('Connection closed.');
    };
    //terminal handling
    term.focus()
    window.onresize = resize
    window.onload = resize
    // function resize(){
    //     fitAddon.fit();
    //     socket.send('{"cols": term.cols, "rows": term.rows}')
    // }
</script>
{% endblock %}
