{% extends 'base.html' %} 

{% block title %}
IRIS NITK
{% endblock %} 

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/xterm@5.1.0/css/xterm.css" />

  <div class="card mb-2">
    <div class="card-header">
      <h3>Container Console</h3>
    </div>
    <div class="card-body">
      <p><strong>Organization:</strong> {{ instance.organisation }}</p>
      <p><strong>Repo Name:</strong> {{ instance.repo_name }}</p>
      <p><strong>Branch:</strong> {{ instance.branch }}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <div id="terminal-container"></div>
    </div>
  </div>


  <script src="https://unpkg.com/xterm@5.1.0/lib/xterm.js"></script>
  <script src="http://localhost:7070/xterm-addon-attach/lib/xterm-addon-attach.js"></script>
  <script src="http://localhost:7070/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
  <script src="http://localhost:7070/xterm-addon-search/lib/xterm-addon-search.js"></script>

  <script type="text/javascript">
    var term = new Terminal({
        cursorBlink: true,
        convertEol: true  // This option makes sure the terminal handles carriage returns and newlines properly
    });
    // Attach the socket to term
    const container = document.getElementById('terminal-container');
    term.open(container);
    const socket = new WebSocket('ws://' + window.location.host +'/console/{{ instance.pk }}/');

    const attachAddon = new AttachAddon.AttachAddon(socket);
    const fitAddon = new FitAddon.FitAddon();
    const searchAddon = new SearchAddon.SearchAddon();

    // Socket handling
    socket.onopen = (ev) => { 
      socket.send("\n")
      term.loadAddon(attachAddon);
      term.loadAddon(fitAddon);
      term.loadAddon(searchAddon);
      fitAddon.fit();
      term.resize(15, 50)
      console.log(`size: ${term.cols} columns, ${term.rows} rows`)
      fitAddon.fit()
      term.write("\nWelcome to {{ instance.repo_name }}'s Container!\n\n\r")
      term.write("!! THIS is a limited, create a reverse shell for smoother use. :) \n\r")
      term.write("To load data, use the stream-loader or REST API server.\n\r")
      term.write("***********************************************************\n\r")
     };
    socket.onclose = function(ev){
        console.log('Connection closed.');
    };

    //terminal handling
    term.focus()
    // function resize(){
    //     fitAddon.fit();
    //     socket.send('{"cols": term.cols, "rows": term.rows}')
    // }

      window.onresize = resize
      window.onload = resize
</script>
{% endblock %}
