{% url 'iris_dashboard' as iris_dashboard_url %}
{% url 'git_iris_dashboard' as git_iris_dashboard_url %}

<nav class="navbar navbar-expand-lg  navbar-dark bg-dark shadow-sm">
        <a href="#" class="navbar-brand">
            <i class="fa fa-rocket" aria-hidden="true"></i>
          <a class="navbar-brand" href="{% url 'iris_dashboard' %}"><strong>IRIS-NITK Staging Server</strong></a>
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if request.path == iris_dashboard_url %} active {%endif%}"><a href="{% url 'iris_dashboard' %}" class="nav-link"><b>IRIS </b><span class="sr-only">(current)</span></a></li>
            <li class="nav-item {% if request.path == git_iris_dashboard_url %} active {%endif%}"><a href="{% url 'git_iris_dashboard' %}" class="nav-link"><strong>GITLAB-IRIS</strong></a></li>
            <li class="nav-item dropdown {% if request.path|slice:'1:' == '/template' %}active{% endif %}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Templates</strong>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/template">Dashboard</a>
                <a class="dropdown-item" href="/template/list">List Templates</a>
                <a class="dropdown-item" href="/template/new">Add Template</a>
              </div>
            </li>
        {% if user.is_authenticated%}
            <li class="nav-item"><a href="/accounts/logout" class="nav-link"><strong>Logout</strong></a></li>
    {% else %}
     <li class="nav-item"><a href="/accounts/login" class="nav-link"><strong>Login</strong></a></li>
    {% endif %}
          </ul>
        </div>
    </nav>