{% if IRIS_REPOSITORY %}
{%   url 'iris_dashboard' as iris_dashboard_url %}
{% endif %}
{% url 'gitlab_social_dashboard' as gitlab_social_dashboard_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'homepage' %}">
      <i class="fa-brands fa-docker"></i>
      IRIS Staging Server</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if IRIS_REPOSITORY %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == iris_dashboard_url %} active {%endif%}" aria-current="page" href="{% url 'iris_dashboard' %}">IRIS</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == gitlab_social_dashboard_url %} active {%endif%}" href="{% url 'gitlab_social_dashboard' %}">Gitlab</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Templates
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/template">Dashboard</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/template/list">List Templates</a></li>
            <li><a class="dropdown-item" href="/template/new">Add Template</a></li>
          </ul>
        </li>
        {% if user.is_authenticated%}
            <li class="nav-item">
              <a href="/accounts/logout" class="nav-link">Logout</a>
            </li>
      {% else %}
     <li class="nav-item">
      <a href="/accounts/login" class="nav-link">Login</a>
    </li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>