<head>
    <title>IRIS Dev Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
</head>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <img src={% static '526.jpg' %} >
    </div>
</div>





