{% extends 'main/base.html' %}

{% block title %}IRIS, Gitlab{% endblock %}

{% block content %}


<body>
    <div class="card" style="margin: 30px;">  
        <form class="card-body form-inline" action='{% url "deploy_wrap" %}' method="POST">
            {% csrf_token %}
            <div class="input-group mx-2 mb-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="repos">Repositories</label>
                </div>
                <select class="custom-select" id="repos" name="repos" required>
                    <option selected disabled>Choose...</option>
                    {% for no,repo in repos.items %}
                    <option value="{{repo}}">{{repo}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" id="orgselect" name="orgselect" value="IRIS-NITK" />
            <input type="hidden" id="social_provider" name="social_provider" value="gitlab" />
            <div class="input-group mx-2 mb-2">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="branches">Branches</label>
                </div>
                <select class="custom-select" id="branches" name="branches" required>
                </select>
            </div>
            <input type="hidden" id="internal_port" name="internal_port" value="3000" />
            <button type="submit" class="btn btn-outline-success mx-2 mb-2">Deploy</button>
        </form>
    </div>
    
    <script>
        $("#repos").change(function(){
    
            var repo = document.getElementById('repos').value;
    
            $.ajax({                     
                url: '/getIRISbranches',                    
                data: {
                  'repo': repo ,  
                },
                success: function (data) {   
                   $('#branches').html(data)
                }
              });
    
        });
    </script>

    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">Branch</th>
                <th scope="col">Owner</th>
                <th scope="col">Update Time</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          {% for instance in instances %}
            <tr>
                <td>
                    <a href="https://staging-{{ instance.branch | lower}}.iris.nitk.ac.in">{{ instance.branch }}</a>
                </td>
                <td>{{ instance.owner }}</td>
                <td>{{ instance.update_time }}</td>
                <td>
                    {% if instance.status == "PENDING" %}
                        <span class="badge badge-secondary">Pending</span>
                    {% elif instance.status == "SUCCESS" %}
                        <span class="badge badge-success">Success</span>
                    {% elif instance.status == "ERROR" %}
                        <span class="badge badge-danger">Error</span>
                    {% elif instance.status == "DEPLOYING" %}
                        <span class="badge badge-warning">Deploying</span>
                    {% elif instance.status == "STOPPED" %}
                        <span class="badge badge-danger">Stopped</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                    <form method="post" action="{% url 'logs' orgname=instance.organisation reponame=instance.repo_name branch=instance.branch social=instance.social%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary btn-sm mx-1">Logs</button>
                    </form>
                    <button type="button" class="btn btn-outline-primary btn-sm mx-1" onclick="location.href='{% url 'containerlogs' social=instance.social orgname=instance.organisation reponame=instance.repo_name branch=instance.branch %}'">
                                Container Logs
                    </button>    
                            
                    <form method="post" action="{% url 'deploy' org_name=instance.organisation repo_name=instance.repo_name branch=instance.branch social=instance.social dockerfile_path=instance.dockerfile_path internal_port=instance.internal_port%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-warning btn-sm mx-1">Redeploy</button>
                    </form>
                    <form method="post" action="{% url 'deploy_template_clean_up' instance.pk  %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm mx-1">Stop</button>
                    </form>                    
                    <a href="{% url 'deploy_instance_delete' instance.pk %}">
                        <i class="fa fa-trash" style="font-size: 24px; margin-right: 10px; margin-left: 10px;"></i>
                    </a>
                    <a href="{% url 'check_uptime_status' instance.pk %}">
                        <i class="fa fa-refresh" style="font-size:24px;"></i>
                    </a>  
                    </div>                  
                </td>
            </tr>
          {% endfor %}
        </tbody>
    
    </table>  
    
</body>



{% endblock %}
