{% extends 'main/base.html' %}

{% block content %}

    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th scope="col">VCS</th>
                <th scope="col">Repository</th>
                <th scope="col">Branch</th>
                <th scope="col">Owner</th>
                <th scope="col">Update Time</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          {% for instance in instances %}
            <tr>
                <td>
                    {% if instance.social == 'github' %}
                        <img src="/static/github.png" alt="GitHub" width="20" height="20">
                    {% elif instance.social == 'gitlab' %}
                        <img src="/static/gitlab.svg" alt="GitLab" width="20" height="20">
                    {% else %}
                        {{ instance.social }}
                    {% endif %}
                </td>
                <td>
			{% if instance.social == "github" %}
			<a href="http://staging-{{ instance.organisation | lower }}-{{ instance.repo_name | lower }}-{{ instance.branch | lower }}.iris.nitk.ac.in">{{ instance.organisation }}/{{ instance.repo_name }}</a>
			{% elif instance.social == "gitlab" %}
			<a href="http://staging-{{ branch | lower }}.iris.nitk.ac.in">{{ instance.organisation }}/{{ instance.repo_name }}</a>
			{% else %}
			Not supported yet :(
			{% endif %}		
		</td>
                <td>{{ instance.branch }}</td>
                <td>{{ instance.owner }}</td>
                <td>{{ instance.update_time }}</td>
                <td>
                    {% if instance.status == "PENDING" %}
                        <span class="badge badge-secondary">Pending</span>
                    {% elif instance.status == "SUCCESS" %}
                        <span class="badge badge-success">Success</span>
                    {% elif instance.status == "ERROR" %}
                        <span class="badge badge-danger">Error</span>
                    {% elif instance.status == "DEPLOYING" %}
                        <span class="badge badge-warning">Deploying</span>
                    {% elif instance.status == "STOPPED" %}
                        <span class="badge badge-danger">Stopped</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                    <form method="post" action="{% url 'logs' orgname=instance.organisation reponame=instance.repo_name branch=instance.branch social=instance.social%}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-info btn-sm mx-1">Logs</button>
                    </form>
 	            <button type="button" class="btn btn-outline-primary btn-sm mx-1" onclick="location.href='{% url 'containerlogs' social=instance.social orgname=instance.organisation reponame=instance.repo_name branch=instance.branch %}'">
                                Container Logs
                    </button> 

                    <form method="post" action="{% url 'deploy_template_clean_up' instance.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-danger btn-sm mx-1">Stop</button>
                    </form>                    
                    <a href="{% url 'deploy_instance_delete' instance.pk %}">
                        <i class="fa fa-trash" style="font-size: 24px; margin-right: 10px; margin-left: 10px;"></i>
                    </a>
                    <a href="{% url 'uptime_check_template' instance.pk %}">
                        <i class="fa fa-refresh" style="font-size:24px;"></i>
                    </a>  
                    </div>                  
                </td>
            </tr>
          {% endfor %}
        </tbody>
    
    </table>  

      
{% endblock %}
